{% extends 'dashboard/base.html' %}
{% block content %}
<div class="container m-3">
  <h1 class="display-4 text-center">Welcome to ACP!</h1>
  <h3>How to use!</h3>
  
  <h5>1. Input the student number </h5>
  <h5>2. Click "Choose File" and select the CSV file </h5>
  <h5>3. Click "Upload" button </h5>
  <h5>4. Click "Next" button </h5>
  <h3>You can now view the result and analysis of the prototype</h3>
  <h2>[OPTIONAL]</h2>
  <h5>Click the "Download as excel file" button to download the result in excel file or</h5>
  <h5>Click the "Upload another file" button to upload new file </h5>
  <div style="background-image: url('C:/Users/Ardy/Desktop/ACP_Images/home.jpg');"></div>
</div>

{% endblock content %}
    